div.panel-body pre {
  margin: 0;
  border: none;
  /*
  Uncomment this property if you disable syntax highlighting:

  background-color: inherit;
  */
  border-radius: 0 0 4px 4px;
}
div.panel-body {
  padding: 0;
}
