---
title: Main page
layout: sidebar
groups:
  - navbar
navbar_link: <span class="glyphicon glyphicon-home"></span>&nbsp;Main page
root_page: true
---
{% if site.posts.size == 0 %}
  <p class="h3">Sorry, no posts have been added yet.</p>
  <hr/>
{% else %}
  {% for post in paginator.posts %}
    <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    <p class="text-muted">
      <span class="glyphicon glyphicon-time"></span>&nbsp;Posted on {{ post.date | date_to_long_string }}
      {%- if post.category %} in <span class="glyphicon glyphicon-folder-open"></span>&nbsp;<a href="{{ site.baseurl }}/{{ post.category | slugify: 'pretty' }}/">{{ post.category }}</a>{% endif %}
    </p>
    <p>{{ post.excerpt }}</p>
    <hr/>
  {% endfor %}
  <div class="text-center">
    {% include common/pagination.html %}
  </div>
{% endif %}
