{% if site.posts.size == 0 %}
  <p>Sorry, no posts have been added yet.</p>
{% else %}
  {% for category in site.categories %}
    <h2><a class="category" href="{{ '/' | relative_url }}{{ category[0] | slugify: 'pretty' }}/">{{ category[0] }}</a></h2>
    <ul>
      {% for post in category[1] %}
        <li><a href="{{ post.url | relative_url }}">{{ post.date | date: "%Y-%m-%d" }} &mdash; {{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}
  {% assign uncategorized = site.posts | where_exp: "post","post.categories.size == 0" %}
  {% if uncategorized.size != 0 %}
    <h2>Other</h2>
    <ul>
      {% for post in uncategorized %}
      <li><a href="{{ post.url | relative_url }}">{{ post.date | date: "%Y-%m-%d" }} &mdash; {{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endif %}
