<p>This is a list of posts in category "{{ include.category }}".</p>
{% if site.categories[include.category].size > 0 %}
  <ul>
    {% for post in site.categories[include.category] %}
      <li><a href="{{ post.url | relative_url }}">{{ post.date | date: "%Y-%m-%d" }} &mdash; {{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
{% if include.archive_link %}
  <p>For a complete list of posts grouped by category, please see <a href="{{ include.archive_link | relative_url }}">this page</a>.</p>
{% endif %}
