{% if site.posts.size == 0 %}
  <p class="h3">Sorry, no posts have been added yet.</p>
  <hr/>
{% else %}
  {% for post in paginator.posts %}
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="text-muted">
      <i class="fa fa-clock-o"></i>&nbsp;Posted on {{ post.date | date: '%-d %B %Y' }}
      {%- if post.category %} in <i class="fa fa-folder-open"></i>&nbsp;<a class="category" href="{{ '/' | relative_url }}{{ post.category | slugify: 'pretty' }}/">{{ post.category }}</a>{% endif %}
    </p>
    {{ post.excerpt | markdownify }}
    <hr/>
  {% endfor %}
  <div class="text-center">
    {% include posts/paginator.html %}
  </div>
{% endif %}
