{% if site.posts.size == 0 %}
  <p class="h3">Sorry, no posts have been added yet.</p>
  <hr/>
{% else %}
  {% for post in paginator.posts %}
    <div class="row post-header">
      <div class="col-xs-12 col-sm-8">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
      </div>
      <div class="col-xs-12 col-sm-4 post-date">
        <p class="text-muted">
          {% if post.category %}
            <span class="glyphicon glyphicon-folder-open"></span>&nbsp;<a class="category" href="{{ '/' | relative_url }}{{ post.category | slugify: 'pretty' }}/">{{ post.category }}</a>
          {% endif %}
          <span class="glyphicon glyphicon-time"></span>&nbsp;{{ post.date | date: '%-d&nbsp;%B&nbsp;%Y' }}
        </p>
      </div>
    </div>
    {{ post.excerpt | markdownify }}
    <hr/>
  {% endfor %}
  <div class="text-center">
    {% include posts/paginator.html %}
  </div>
{% endif %}
