<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if site.settings.project.name %}
      <title>{{ page.title }} - {{ site.settings.project.name }} - {{ site.settings.author.name }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.settings.author.name }}</title>
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    {% include common/mathjax.html %}

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    {% if page.custom_css %}
      {% for css in page.custom_css %}
        <link rel="stylesheet" href="{{ '/assets/css/' | relative_url }}{{ css }}"/>
      {% endfor %}
    {% endif %}
  </head>
  <body>
    <div class="top-level-footer-wrapper">
      {% if site.settings.navbar.hide or page.navbar.hide %}
      {% else %}
        <div class="footer-wrapper-collapse">
          {% include common/navbar.html %}
        </div>
      {% endif %}
      <div class="footer-wrapper-expand">
        <div class="container">
