<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if site.settings.project.name %}
      <title>{{ page.title }} - {{ site.settings.project.name }} - {{ site.settings.author.name }}</title>
    {% else %}
      <title>{{ page.title }} - {{ site.settings.author.name }}</title>
    {% endif %}

    {% include common/bootstrap_css.html %}

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    {% include common/ie_compat.html %}
    {% include common/mathjax.html %}
  </head>
  <body>
    <div class="top-level-footer-wrapper">
      {% if site.settings.navbar.hide or page.navbar.hide %}
      {% else %}
        <div class="footer-wrapper-collapse">
          {% include common/navbar.html %}
        </div>
      {% endif %}
      <div class="footer-wrapper-expand">
        <div class="container">
