{% unless site.settings.sidebar.hide or page.sidebar.hide %}
<div class="row">

{% capture about_content %}
{% assign project_desc = site.settings.project.description %}
{% unless project_desc %}
  {% if site.github %}
    {% assign project_desc = site.github.project_tagline %}
  {% endif %}
{% endunless %}
{% if project_desc %}
  {% capture project_desc %}{{ project_desc }}. {% endcapture %}
{% endif %}
{% capture project_desc %}{{ project_desc }}Feel free to contribute or contact me.{% endcapture %}
<p>{{ project_desc }}</p>
<div class="list-group wide-enough">
  {% if site.github %}
    {% assign github_link = site.settings.navbar.github.link | default: 'GitHub' %}
    {% assign github_icon = site.settings.navbar.github.icon | default: 'globe' %}
    {% capture github_icon %}<span class="glyphicon glyphicon-{{ github_icon }}"></span>&nbsp;{% endcapture %}
  <a class="list-group-item" href="{{ site.github.repository_url }}" target="_blank">{{ github_icon }}{{ github_link }}</a>
  {% endif %}
  {% assign author_email = site.settings.author.email | default: 'John.Doe@example.com' %}
  <a class="list-group-item" href="mailto:{{ author_email }}"><span class="glyphicon glyphicon-envelope"></span>&nbsp;{{ author_email }}</a>
</div>
{% endcapture %}

{% include common/sidebar_entry.html header='About' content=about_content %}

{% if site.posts.size > 0 %}

{% capture latest_posts_content %}
<div class="list-group wide-enough">
  {% for post in site.posts limit: 5 %}
  <a class="list-group-item" href="{{ post.url | relative_url }}">
    <span class="badge"><span class="glyphicon glyphicon-time"></span>&nbsp;{{ post.date | date: '%-d %b %Y' }}</span>
    <span class="glyphicon glyphicon-file"></span>&nbsp;{{ post.title }}
  </a>
  {% endfor %}
</div>
{% endcapture %}

{% include common/sidebar_entry.html header='Latest posts' content=latest_posts_content %}
{% endif %}

</div>
{% endunless %}
