<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-12">
    <h2 class="h4">About</h2>
    <p>{{ site.settings.project.description }}. Feel free to contribute or contact me.</p>
    <div class="list-group wide-enough">
      <a class="list-group-item list-group-item-action" href="{{ site.github.repository_url }}"><i class="fa fa-home"></i>&nbsp;GitHub repository</a>
      <a class="list-group-item list-group-item-action" href="mailto:{{ site.settings.author.email }}"><i class="fa fa-envelope"></i>&nbsp;{{ site.settings.author.email }}</a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-12">
    <h2 class="h4">Latest posts</h2>
    {% if site.posts.size == 0 %}
    <p>Sorry, there're no posts yet.</p>
    {% else %}
    <div class="list-group wide-enough">
      {% for post in site.posts limit: 5 %}
      <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{ post.url | relative_url }}">
        {{ post.title }}
        <span class="badge badge-primary badge-pill"><i class="fa fa-clock-o"></i>&nbsp;{{ post.date | date: '%-d %b %Y' }}</span>
      </a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
