footer {
  margin-top: 20px;
  padding: 10px 0;
  border-width: 1px 0;
  border-style: solid;
}

.footer-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1em;
}
.footer-item-sep {
  margin-right: 1em;
}
.footer-item {
  white-space: nowrap;
}
