/* This is a relatively popular workaround to align side-by-side columns.
 * I use it for post headers. */
.post-header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  column-gap: 1em;
}
.post-date a.category {
  margin-right: .5em;
}

/* On the sidebar, don't shrink the date part, shrink the header. */
.list-group-item .post-header {
  flex-wrap: nowrap;
}
.list-group-item .post-date {
  flex-shrink: 0;
}

/* Don't use an actual <hr>, it's margins are too big, use a border instead. */
.feed-entry {
  margin-bottom: 15px;
  /* The color of <hr>. */
  border-bottom: 1px solid #eee;
}
