/* I don't like how on my phone, sometimes the date is wrapped, and sometimes
 * it isn't. So on xs devices, the date is always beneath the header. */
@media (min-width: 768px) {
  .post-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    column-gap: 1em;
  }
}
.post-date {
  flex: none;
}
.post-date a.category {
  margin-right: .5em;
}

/* On the sidebar, the date is always beside the header. */
.list-group-item .post-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  column-gap: 1em;
}

/* Don't use an actual <hr>, it's margins are too big, use a border instead. */
.feed-entry {
  /* The color of <hr>. */
  border-bottom: 3px solid #eee;
}
