.shell pre {
  /* Reset Bootstrap's settings for <pre>. */
  margin: 0;
  border-radius: 0;
}

/* WTF is this? I somehow came up with it, but I hope there's a better way.
 * 11px is the standard bottom margin for <pre>s. */
.shell {
  margin-bottom: 11px;
}
.shell + .shell {
  margin-top: -11px;
}

.shell > div {
  display: flex;
  overflow: auto;
}
.shell-mark {
  /* Don't shrink it. */
  flex: none;
}
.shell-cmd {
  flex: 1;
  /* The combination of overflow values disables the scrollbar for .shell-cmd
   * and assigns it to the outer div instead, which looks nicer. */
  overflow: visible;
}

/* Styling, yo. */
.shell > div {
  /* Color the border in the color of grass. */
  border-bottom: medium solid #008567;
}
.shell-mark, .shell-cmd {
  border: none;
  background-color: #f0f0f0;
}
.shell-mark {
  font-weight: bold;
  /* I like colors. */
  color: #20004b;
  user-select: none;
}
.shell-cmd {
  /* No double-padding between .shell-mark and .shell-cmd. */
  padding-left: 0;
}
.shell-out {
  border-width: 0 0 thin 0;
}
