---
layout: default
title: Notes
groups:
  - navbar
navbar_link: <span class="glyphicon glyphicon-search"></span>&nbsp;Notes
navbar_priority: 3
---
<h1>{{ page.title }}</h1>
<hr/>
{% if site.notes.size != 0 %}
  <p>This is a complete list of notes I maintain for my personal usage.</p>
  <ul>
    {% assign note_list = site.notes | sort: 'title' %}
    {% for note in note_list %}
      <li><a href="{{ site.baseurl }}{{ note.url }}">{{ note.title }}</a></li>
    {% endfor %}
  </ul>
{% else %}
  <p>Sorry, no notes have been added yet.</p>
{% endif %}
