---
layout: default
---
<h1>{{ page.title }}</h1>
<hr/>
<p>This is a list of posts in category "{{ page.category }}".</p>
{% if site.categories[page.category].size > 0 %}
  <ul>
    {% for post in site.categories[page.category] %}
      <li><a href="{{ post.url | relative_url }}">{{ post.date | date: "%Y-%m-%d" }} &mdash; {{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endif %}
<p>For a complete list of posts grouped by category, please see <a href="{{ '/all/' | relative_url }}">this page</a>.</p>
