---
layout: default
---
<div class="row post-header">
  <div class="col-xs-12 col-sm-8">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="col-xs-12 col-sm-4 post-date">
    <p class="text-muted">
      {% if page.category %}
        <span class="glyphicon glyphicon-folder-open"></span>&nbsp;<a class="category" href="{{ '/' | relative_url }}{{ page.category | slugify: 'pretty' }}/">{{ page.category }}</a>
      {% endif %}
      &nbsp;<span class="glyphicon glyphicon-time"></span>&nbsp;{{ page.date | date: '%-d&nbsp;%b&nbsp;%Y' }}
    </p>
  </div>
</div>
{{ content }}
<hr/>
