{% capture snippet_basename %}{{ include.snippet_path | split:"/" | last }}{% endcapture %}
{% capture snippet_id %}{{ include.snippet_path | replace:'/','_' | replace:'.','_' }}{% endcapture %}
<div class="card my-1">
  <div class="card-header" id="{{ snippet_id }}">
    {% if page.snippets_collapsible or include.collapsible %}
    <a data-toggle="collapse" data-parent="#accordion_{{ include.section_id }}" href="#collapse_{{ snippet_id }}" aria-expanded="false" aria-controls="collapse_{{ snippet_id }}">{{ snippet_basename }}</a>
    {% else %}
    <span>{{ snippet_basename }}</span>
    {% endif %}
  </div>
  {% if page.snippets_collapsible or include.collapsible %}
  <div id="collapse_{{ snippet_id }}" class="collapse" aria-labelledby="{{ snippet_id }}" data-parent="#accordion_{{ include.section_id }}">
  {% endif %}
    <div class="card-body snippet-body">
