{% if page.snippets_collapsible or include.collapsible %}
{% assign collapsible = true %}
{% endif %}
{% if collapsible %}
<div class="panel-group" id="accordion_{{ include.section_id }}">
{% else %}
<div class="panel-group">
{% endif %}

{% for i in page.snippets[include.section_id] %}
  {% include snippets/header.html snippet_path=i section_id=include.section_id collapsible=collapsible %}

{% capture snippet %}
```{{ page.snippets_language }}
{% include_relative {{ page.snippets_root_directory }}/{{ i }} %}```
{% endcapture %}

{{ snippet | markdownify }}

  {% include snippets/footer.html collapsible=collapsible %}
{% endfor %}

</div>

{% for i in page.snippets[include.section_id] %}
  {% capture snippet_id %}{{ i | replace:"/","_" | replace:".","_" }}{% endcapture %}
[{{ i }}]: #{{ snippet_id }}
{% endfor %}
